<div id="container">
	<div class="input-append">
		<input id="input" class="span5" name="url" type="text" placeholder="http://google.com/">
		<button id="submit" class="btn btn-primary" type="button">Shorten</button>
	</div>
	<code id="output"></code>
</div>

