// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	padding-top: 35px;
}

#container {
	text-align: center;
}

code {
	font-size: 16px;
}

.input-append {
	margin-bottom: 20px;
}